.list-move,
.list-leave-active {
	transition: all .3s ease;
}

.list-leave-to {
	opacity: 0;
	// transform: translateX(-30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
	position: absolute;
}
