/* color palette from <https://github.com/vuejs/theme> */
:root {
	--dvgreen: #adce2e;
	--dvviolet: #a6a5fc;
	--dvblue: #9eccff;
	--dvdark: #270f47;
	--dark: #003153;
	--dark1: hsl(205 100% 22% / 1);
	--dark2: #143c5f;
  --selection: hsl(240.69deg 93.55% 90%);
  --green: #82A2B0;
  --middle: hsl(213 31% 87% / 1);
  --rad: .4rem;
  --drag: #3b82f6;
  --bgLight: hsl(214 42% 96% / 1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	// background: moz-linear-gradient(top, #d8e3f1 0%, #f4e8f4 52.6%, #fdf5e5 100%);
	// background: webkit-linear-gradient(top, #d8e3f1 0%, #f4e8f4 52.6%, #fdf5e5 100%);
	// background: linear-gradient(180deg, #d8e3f1 0%, #f4e8f4 52.6%, #fdf5e5 100%);
	background: linear-gradient(
		180deg,
		#d8e3f1 0%,
		hsl(210 22% 83% / 1) 52.6%,
		hsl(199 39% 86% / 1) 100%
	);
}
