@import './base.scss';
@import './anim.scss';
@import 'vue-draggable-resizable/style.css';

:root {
	--rad: 0.5rem;
	--shad0: 0 1px 5px rgba(0, 0, 0, 0.2);
	--shad: 0 11px 20px 0 rgba(0, 0, 0, 0.2);
}

#app {
	//   // max-width: 1280px;
	margin: 0 auto;
}

.test {
	background: pink;
	outline: 3px solid $primary;
}
.rel {
	position: relative;
}
.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	// background: #c7d8f4;
	// background: hsl(207.63deg 97.44% 75.84%);
	background: #dbe9f1;
	top: 50px;
	left: -100%;
	z-index: 2;
}
// close button style
.q-dialog .q-card {
	overflow: visible;
	position: relative;
	.close {
		z-index: 100;
		position: absolute;
		top: -1.2rem;
		right: -1.2rem;
	}
}

.item {
	width: 170px;
	height: 170px;
	background: #fff;
	cursor: pointer;
	padding: 1rem;
	position: relative;
  border-radius: var(--rad);

	&:hover {
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.2);
	}

	&.active {
		position: fixed;
		height: 70vh;
		width: 900px;
		margin: 0 auto;
		left: 0;
		right: 0;
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.2);
	}

	&.inactive {
		opacity: 0;
		user-select: none;
		display: none;
	}
	&.group {
    background: var(--middle);
    border-radius: var(--rad);
    border: 2px solid var(--green);
	}

	&.green {
		background: #a8d7a8;
	}
}
.editor {
	width: 1500px;
	height: calc(100vh - 120px);
	background: #fff;
	padding: 0.5rem;
	border-radius: 0.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shad0);
	position: relative;
}

.notifications {
	transition: all 0.3s ease;
}
