@import './base.scss';
@import './anim.scss';
@import 'vue-draggable-resizable/style.css';

:root {
	--rad: 0.5rem;
	--shad0: 0 1px 5px rgba(0, 0, 0, 0.2);
	--shad: 0 11px 20px 0 rgba(0, 0, 0, 0.2);
}

#app {
	//   // max-width: 1280px;
	margin: 0 auto;
}

.test {
	background: pink;
	outline: 3px solid $primary;
}
.rel {
	position: relative;
}
.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	// background: #c7d8f4;
	// background: hsl(207.63deg 97.44% 75.84%);
	background: #dbe9f1;
	top: 50px;
	left: -100%;
	z-index: 2;
}
// close button style
.q-dialog .q-card {
	overflow: visible;
	position: relative;
	.close {
		z-index: 100;
		position: absolute;
		top: -1.2rem;
		right: -1.2rem;
	}
}

.item {
	width: 170px;
	height: 170px;
	background: #fff;
	cursor: pointer;
	padding: 1rem;
	position: relative;
  border-radius: var(--rad);
  margin: .5rem;

	&:hover {
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.2);
	}

	&.active {
		position: fixed;
		height: 70vh;
		width: 900px;
		margin: 0 auto;
    top: 150px;
		left: 0;
		right: 0;
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.2);
	}

	&.inactive {
		display: none;
	}

	&.green {
		background: #a8d7a8;
	}
  .img {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 3rem;
    line-height: 0;
    color: $secondary;
  }
}

.group {
	width: 170px;
	height: 170px;
	position: relative;
	cursor: pointer;
	padding: 1rem;
  background: var(--middle);
  border: 2px solid var(--green);
  border-radius: var(--rad);
  margin: .5rem;

	&:hover {
		box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.3);
	}

	&.active {
		position: fixed;
		padding: 1rem;
		height: auto;
		// height: 221px;
		width: 1200px;
		margin: 0 auto;
		top: 150px;
		left: 0;
		right: 0;
		box-shadow: none;
		background: var(--middle);
		border: 2px solid var(--green);
	}

	&.inactive {
		display: none;
	}

  .img {
    position: absolute;
    bottom: 1rem;
  }
}

.editor {
	width: 1500px;
	height: calc(100vh - 120px);
	background: #fff;
	padding: 0.5rem;
	border-radius: 0.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shad0);
	position: relative;
}

.notifications {
	transition: all 0.3s ease;
}
.top {
	// padding: 0 1rem;
	padding: .5rem 1rem;
	border-radius: .4rem .4rem 0 0;
	background: hsl(214 42% 96% / 1);
	box-shadow: inset 0 -2px 3px rgba($color: #000000, $alpha: 0.1);
	display: flex;
	justify-content: space-between;
	color: $primary;
  min-height: 50px;
  line-height: 50px;
}

.fuck {
  position: absolute;
  background-color: var(--drag);
  z-index: 1000;
  border-radius: 9999px;
  transition-duration: 5ms;

  &::before {
    display: block;
    content: "Вставить";
    white-space: nowrap;
    background-color: var(--drag);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
