@import './base.scss';
@import './anim.scss';
@import 'vue-draggable-resizable/style.css';

:root {
	--rad: 0.5rem;
	--shad: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#app {
	//   // max-width: 1280px;
	margin: 0 auto;
}

.test {
	background: pink;
	outline: 3px solid $primary;
}
.rel {
	position: relative;
}
.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	// background: #c7d8f4;
	background: #c7d8f4;
	top: 50px;
	left: -100%;
	z-index: 2;
}
// close button style
.q-dialog .q-card {
	overflow: visible;
	position: relative;
	.close {
		z-index: 100;
		position: absolute;
		top: -1.2rem;
		right: -1.2rem;
	}
}

.item {
	width: 200px;
	height: 200px;
	background: #fff;
	// border-radius: 0.5rem;
	cursor: pointer;
	padding: 1rem;
	margin: 0.5rem;
	position: relative;

	&:hover {
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.2);
	}

	&.active {
		position: fixed;
		height: 70vh;
		width: 900px;
		margin: 0 auto;
		left: 0;
		right: 0;
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.2);
	}

	&.inactive {
		opacity: 0;
		user-select: none;
		display: none;
	}
	&.group {
		box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);

		&:before {
			content: '';
			display: block;
			width: 200px;
			height: 200px;
			background: #fff;
			// border-radius: 0.5rem;
			position: absolute;
			top: 0px;
			left: 0px;
			transform: rotate(3deg);
			z-index: -2;
			box-shadow:
				2px 2px 3px rgba($color: #000000, $alpha: 0.2),
				-1px -1px 2px rgba($color: #000000, $alpha: 0.2);
		}
	}

	&.green {
		background: #a8d7a8;
	}
}
