$primary: var(--dark2);
$secondary: red;
$accent: var(--dvviolet);
$accent1: var(--dvblue);
$accent2: #e2e2d8;

$dark: #02040fff;

$positive: #15752b;
$negative: #840032;
$info: #ccc;
$warning: #e59500;
