$primary: var(--dark2);
$secondary: var(--dvgreen);
$accent: var(--dvviolet);
$accent1: #b1ddfc;
$accent2: #e2e2d8;

$dark: #02040fff;

$positive: #15752b;
$negative: #840032ff;
$info: #ccc;
$warning: #e59500ff;
